.footer {
    background-color: $red;
    color: white;
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;

    a {
        color: white;
    }

    .follow-us {
        font-size: 1.1em;
        display: inline-block;
        line-height: 1.7em;
    }

    .sub-button {
        display: inline-block;
        background-color: white;
        color: $red;
        width: 1.8em;
        line-height: 1.8em;
        border-radius: 50%;
        text-align: center;
        font-size: 1.4em;
        transition: all .2s;
        margin-left: 0.5em;
        text-decoration: none;

        &:hover {
            background-color: $red;
            color: white;
            box-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
        }
    }
}

@media (max-width: 768px) {
    .sub-button {
      margin-top: 0.5em;
    }
}
