.btn-outline-primary {
    color: $red;
    border-color: $red;
}

.btn-outline-primary:hover {
    color: white;
    background-color: $red;
    border-color: $red;
}

.form-control:focus {
    background-color: white;
    border-color: $red;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba($red, 0.25);
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba($red, 0.5);
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    background-color: $red;
    border-color: $red;
}

.bg-light {
    background-color: white !important;
}

.avoid-wrap {
    display: inline-block;
}

.img-factory div {
    margin-bottom: 1em;

    img {
        border-radius: 3px;
    }
}

.icon-envelope:before,
.icon-fax:before,
.icon-phone-alt:before {
  font-size: 1.2em;
}

.email-career {
    color: $red;
    text-align: center;
    display: block;
    padding: 0.5em 0;

    a {
        color: $red;
    }
}

.text-red {
    color: $red;
}

.product-cert {
    max-height: 120px;
}

.option-table {
    .row:nth-child(2n) {
        background-color: $super-light-grey;
    }

    .row div:first-child {
        font-weight: bold;
    }
}
