.product-section {
    background-color: $super-light-grey;
    border-radius: 5px;
    padding: 0.5em 1em 0.2em 1em;

    .product-title {
        font-size: 1.2em;
        font-weight: bold;
        text-align: center;
        padding-bottom: 0.5em;
        transition: all .5s;
    }

    .frame {
        text-align: center;
        border: 1px solid $light-grey;
        background-color: white;

        &.product {
            height: 400px;
            width: 100%;
            position: relative;
        }

        &.thumbnail {
            margin: 0.2em;
            height: 60px;
            width: 60px;
            padding: 0.2em;
            cursor: pointer;
            transition: all .3s;
        }

        .fade-in, .fade-out {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }

        .fade-in {
            z-index: 1;
        }

        .fade-out {
            z-index: 2;
        }
    }

    .selected {
        border: 1px solid $red;
        box-shadow: -1px -1px 0.95rem rgba($red, .1),
            1px -1px 0.95rem rgba($red, .1),
            -1px 1px 0.95rem rgba($red, .1),
            1px 1px 0.95rem rgba($red, .1);
    }

    .product-thumbnail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.2em;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img {
        max-height: 95%;
        max-width: 95%;
        vertical-align: middle;
    }
}

// css for door hardware section
.door-hardware-section {
    padding: 0.95em;
    background-color: $super-light-grey;
    border-radius: 0.25em;

    .img-frame {
        text-align: center;
        padding-bottom: 45%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 10px 0px;
    }

    img {
        max-height: 150px;
    }

    [class^="col-"] {
        border: 1px solid $light-grey;
        background-color: white;
    }

    ul {
        padding-left: 1em;
    }
}
// --- css for door hardware section

// css for TAB section
a.nav-item {
    color: $red;
}

a.text-red {
    color: $red;

    &:hover {
        color: $red;
    }
}
// --- css for TAB section

// css for product slide
.product-section {
    .control {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 10;
        color: $red;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15%;
        font-size: 1.5em;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

        &:hover {
            text-decoration: none;
        }
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}
// --- css for product slide

.btn.btn-outline-primary.text-capitalize {
    font-size: 1.2rem;
}

h6 {
    color: $red;
}

.product-home {
    border-radius: 5px;
    padding: 5px 0;
    margin-bottom: 2rem;

    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center;

    &.csd {
        background: linear-gradient(
                    rgba(white,.8),
                    rgba(white,.8)),
                    url('/static/images/product/csd/csd_bg.jpg');
    }

    &.fdc {
        background: linear-gradient(
                    rgba(white,.9),
                    rgba(white,.9)),
                    url('/static/images/product/fdc/fdc_bg.jpg');
    }

    &.ddp {
        background: linear-gradient(
                    rgba(white,.7),
                    rgba(white,.7)),
                    url('/static/images/product/ddp/ddp_bg.jpg');
    }

    &.ds {
        background: linear-gradient(
                    rgba(white,.8),
                    rgba(white,.8)),
                    url('/static/images/product/ds/ds_bg.jpg');
    }

    &.aol {
        background: linear-gradient(
                    rgba(white,.7),
                    rgba(white,.7)),
                    url('/static/images/product/aol/aol_bg.jpg');
    }

    box-shadow: -1px -1px 0.95rem rgba($black, .05),
              1px -1px 0.95rem rgba($black, .05),
              -1px 1px 0.95rem rgba($black, .05),
              1px 1px 0.95rem rgba($black, .05);

    h1{
        font-size: 2em;
    }

    section {
        font-size: 1.1em;
    }

    .btn {
        margin-top: 5px;
        margin-bottom: 1rem;
    }

    .frame {
        max-height: 200px;
        max-width: 160px;
        align-self: center !important;
        background-color: white;
        border-radius: 5px;
        margin: 3px;

        img {
            max-height: 200px;
            max-width: 160px;
            height: auto;
            width: auto;
            padding: 3px 5px;
        }

        &.long {
            max-width: 140px;

            img {
                max-width: 140px;
            }
        }
    }
}

.section-product {
    [class^='col-'] {
        border: 1px rgb(222, 226, 230) solid;
    }

    border: 5px rgb(222, 226, 230) solid;
    border-radius: 0.25em;

    img {
        max-height: 200px;
        max-width: 100%;
        margin: 5px;
    }

    &.aol {
        img {
            max-height: 300px;
        }
    }
}

.section-hardware{
    text-align: center;

    [class^='col-'] {
        border: 1px rgb(222, 226, 230) solid;
    }

    border: 5px rgb(222, 226, 230) solid;
    border-radius: 0.25em;

    .frame {
        height: 150px;

        &:before {
            content: ' ';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    img {
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
        max-height: 150px;
        max-width: 100%;
    }

    h6 {
        text-align: left;
        font-size: 1rem;
        color: $red;
        font-weight: bold;
    }

    h6 {
        text-align: left;
    }

    ul {
        text-align: left;
    }
}

.section-document {
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: $red;

        box-shadow: -1px -1px 0.75rem rgba($black, .05),
          1px -1px 0.75rem rgba($black, .05),
          -1px 1px 0.75rem rgba($black, .05),
          1px 1px 0.75rem rgba($black, .05);
        transition: all .2s;

        &:hover {
            text-decoration: none;
            box-shadow: -1px -1px 0.75rem rgba($red, .25),
                1px -1px 0.75rem rgba($red, .25),
                -1px 1px 0.75rem rgba($red, .25),
                1px 1px 0.75rem rgba($red, .25),;
        }
    }

    .card {
        display: flex;
        width: 130px;
        padding: 3px;
        margin: 0 1.5rem 1rem 0;
        text-align: center;

        h6 {
            font-weight: normal;
        }
    }

    .frame {
        height: 120px;

        &:before {
            content: ' ';
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            display: inline-block;
            max-height: 120px;
            max-width: 95%;
            padding: .5em;
        }
    }
}

.intro {
    min-height: 250px;
    background: linear-gradient(90deg,
                    rgba(white,.4) 0%,
                    rgba(white,.8) 50%),
                    url('/static/images/home_bg.jpg');
    background-position: center;
    background-size: cover;

    section {
        padding-left: 15px;
        padding-right: 15px;
    }

    img {
        padding: 20px;
        background: white;
        border-radius: 10px;
        margin: 10px;
    }

    h1{
        font-size: 2rem;
    }

    p {
        font-size: 1.1rem;
    }
}
