{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="intro">
        <div class="row">
            <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-end">
                <img src="{% static 'images/pcj-logo.jpg' %}">
            </div>
            <div class="col-md-7 col-lg-5 d-flex align-items-center">
                <section>
                    <h1>{% trans 'home-intro-header' %}</h1>
                    <p>{% trans 'home-intro-content' %}</p>
                </section>
            </div>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="row product-home csd">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">{% trans 'home-frd-header' %}</h1>
                <hr>
                <section>
                    {% trans 'home-frd-content' %}
                    <div class="text-center">
                        <a href="{% url 'product:product-frd'%}" class="btn btn-outline-primary text-capitalize">{% trans 'more-details' %}</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="frame"><img src="{% static 'images/product/csd/d01.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/csd/d02.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/csd/d03.jpg' %}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="frame"><img src="{% static 'images/product/csd/d04.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/csd/d05.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/csd/d06.jpg' %}"></div>
                </div>
            </div>
        </div>

        <div class="row product-home fdc">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">{% trans 'home-fdc-header' %}</h1>
                <hr>
                <section>
                    {% trans 'home-fdc-content' %}
                    <div class="text-center">
                        <a href="{% url 'product:product-fdc'%}" class="btn btn-outline-primary text-capitalize">{% trans 'more-details' %}</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="frame long"><img src="{% static 'images/product/fdc/fdc-in.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/fdc/fdc-out.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/fdc/fdc-multi.jpg' %}"></div>
                </div>
            </div>
        </div>

        <div class="row product-home ddp">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">{% trans 'home-ddp-header' %}</h1>
                <hr>
                <section>
                    {% trans 'home-ddp-content' %}
                    <div class="text-center">
                        <a href="{% url 'product:product-ddp'%}" class="btn btn-outline-primary text-capitalize">{% trans 'more-details' %}</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="frame"><img src="{% static 'images/product/ddp/vl.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/ddp/md.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/ddp/ovd.jpg' %}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="frame"><img src="{% static 'images/product/ddp/rml.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/ddp/gd.jpg' %}"></div>
                    <div class="frame"><img src="{% static 'images/product/ddp/rd.jpg' %}"></div>
                </div>
            </div>
        </div>

        <div class="row product-home ds">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">{% trans 'home-ds-header' %}</h1>
                <hr>
                <section>
                    {% trans 'home-ds-content' %}
                    <div class="text-center">
                        <a href="{% url 'product:product-ds'%}" class="btn btn-outline-primary text-capitalize">{% trans 'more-details' %}</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="frame long"><img src="{% static 'images/product/ds/ds.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/ds/rds.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/ds/acl.jpg' %}"></div>
                </div>
            </div>
        </div>

        <div class="row product-home aol">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">{% trans 'home-aol-header' %}</h1>
                <hr>
                <section>
                    {% trans 'home-aol-content' %}
                    <div class="text-center">
                        <a href="{% url 'product:product-aol'%}" class="btn btn-outline-primary text-capitalize">{% trans 'more-details' %}</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row justify-content-center">
                    <div class="frame long"><img src="{% static 'images/product/aol/scd.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/aol/egh.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/aol/af2.jpg' %}"></div>
                </div>
                <div class="row justify-content-center">
                    <div class="frame long"><img src="{% static 'images/product/aol/obv.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/aol/rnd.jpg' %}"></div>
                    <div class="frame long"><img src="{% static 'images/product/aol/agt.jpg' %}"></div>
                </div>
            </div>
        </div>
        <hr>

        <h3 class="text-center text-capitalize">{% trans 'projects' %}</h3>
        {% include 'project/row_project.html' %}
        <div class="text-center">
            <a href="{% url 'project:project-list' %}" class="btn btn-outline-primary text-capitalize">{% trans 'view-all-projects' %}</a>
        </div>
        <hr>

        {% if news_queryset %}
            <h3 class="text-center text-capitalize">{% trans 'news' %}</h3>
            {% include 'news/row_news.html' %}
        {% endif %}

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/projectModal.js' %}"></script>
{% endblock extra_js %}
