{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <!-- <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            {% for img in carousel_images %}
                <li data-target="#carouselIndicators" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active" {% endif %}></li>
            {% endfor %}
        </ol>
        <div class="carousel-inner">
            {% for img in carousel_images %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                    <img src="{% static img %}" class="d-block w-100">
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" data-slide="prev">
            <span class="icon-chevron-left"></span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" data-slide="next">
            <span class="icon-chevron-right"></span>
        </a>
    </div> -->

    <br>
    <div class="container">
        <!-- <h3 class="text-center text-capitalize">{% trans 'quality-you-can-trust' %}</h3>
        <div class="row justify-content-center">
            <p class="col-md-8 text-justify">
                {% trans 'quality-you-can-trust-content-1' %} {{AGE}} {% trans 'quality-you-can-trust-content-2' %}
            </p>
        </div>
        <img src="{% static 'images/certificate.jpg' %}" class="img-fluid">
        <hr>-->

        <div class="row product-home" style="background-color: yellow">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">ประตูเหล็กทนไฟ และ ประตูเหล็กธรรมดา</h1>
                <hr>
                <section>
                    <p>ประตูเหล็กทนไฟ และ ประตูเหล็กธรรมดา ภายใต้แบรนด์ Classic Steel ผลิตและจัดจำหน่ายโดยบริษัท พีซีเจ อุตสาหกรรม จำกัด มีความแข็งแรง สวยงาม ทนทาน ได้รับการทดสอบมาตรฐานชั้นนำมากมาย อาทิเช่น มาตรฐานการทนไฟ ANSI/UL 10C & CAN/ULC-S104, มาตรฐานการทนไฟ BS476, มาตรฐานอุตสาหกรรม 1220-2541 และ 1288-2538 เป็นต้น ประตูเหล็กทนไฟ และประตูเหล็กธรรมดาของเรา มีให้เลือกหลากหลายรูปแบบและสไตล์ อาทิ</p>
                    <ul>
                        <li>ประตูบานเดี่ยว, ประตูบานคู่</li>
                        <li>ประตูบานเรียบทึบ, ประตูบานเรียบมีช่องกระจก</li>
                        <li>ประตูบานลูกฟัก</li>
                        <li>เคลือบสีผง, เคลือบลายไม้</li>
                    </ul>
                    <div class="text-center">
                        <a href="{% url 'product:product-frd'%}" class="btn btn-outline-primary text-capitalize">รายละเอียดเพิ่มเติม</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <img src="{% static 'images/product/csd/sw_flush_sd_vision_p1.jpg' %}">
                    <img src="{% static 'images/product/csd/sw_flush_sd_vision_p2.jpg' %}">
                    <img src="{% static 'images/product/csd/sw_flush_dd_vision_pull_p2.jpg' %}">
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/product/csd/sw_embossed_sd_vision_p3.jpg' %}">
                    <img src="{% static 'images/product/csd/sw_flush_sd_vision_p6.jpg' %}">
                    <img src="{% static 'images/product/csd/sw_embossed_dd_p1.jpg' %}">
                </div>
            </div>
        </div>
        <hr>
        <div class="row product-home" style="background-color: magenta">
            <div class="col-lg-6">
                <br>
                <h1 class="text-center">แดมเปอร์ทนไฟ และ แดมเปอร์อื่นๆ</h1>
                <hr>
                <section>
                    <p>แดมเปอร์ทนไฟ และ แดมเปอร์อื่นๆ ภายใต้แบรนด์ Stream Air ผลิตและจัดจำหน่ายโดยบริษัท พีซีเจ อุตสาหกรรม จำกัด ผลิตจากเหล็กชุบกัลวาไนซ์ ป้องกันสนิม อายุการใช้งานยาวนาน ได้รับการทดสอบมาตรฐานชั้นนำมากมาย อาทิ มาตรฐานการทนไฟ ANSI/UL 555 & CAN/ULC-S112 จาก Underwriter Lab สหรัฐอเมริกา และ UL 555 และ UL 555S จากสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง แดมเปอร์ของเราหลากหลายประเภท เพื่อรองรับการใช้งานตามความต้องการเฉพาะทาง อาทิเช่น</p>
                    <ul>
                        <li>ไฟร์แดมเปอร์ แบบม่านตก</li>
                        <li>วอลุ่มแดมเปอร์ แบบเหลี่ยม, แบบกลม, แบบวงรี</li>
                        <li>มอเตอร์ไรซ์แดมเปอร์ แบบเหลี่ยม, แบบกลม, แบบวงรี</li>
                        <li>กราวิตี้แดมเปอร์</li>
                        <li>รีลีฟแดมเปอร์</li>
                    </ul>
                    <div class="text-center">
                        <a href="{% url 'product:product-frd'%}" class="btn btn-outline-primary text-capitalize">รายละเอียดเพิ่มเติม</a>
                    </div>
                </section>
            </div>
            <div class="col-lg-6">
                <div class="row justify-content-center">
                    <img src="{% static 'images/product/ddp/fdc.jpg' %}">
                    <img src="{% static 'images/product/ddp/vl.jpg' %}">
                    <img src="{% static 'images/product/ddp/md.jpg' %}">
                </div>
                <div class="row justify-content-center">
                    <img src="{% static 'images/product/ddp/rml.jpg' %}">
                    <img src="{% static 'images/product/ddp/gd.jpg' %}">
                    <img src="{% static 'images/product/ddp/rd.jpg' %}">
                </div>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-lg-6">
                <h1>{% trans 'ddp' %}</h1>
            </div>
            <div class="col-lg-6">
                <h1>{% trans 'ds' %}</h1>
            </div>
            <div class="col-lg-6">
                <h1>{% trans 'aol' %}</h1>
            </div>
        </div>
        <hr>

        <h3 class="text-center text-capitalize">{% trans 'products' %}</h3>
        {% include 'product/row_product.html' %}
        <hr>

        <h3 class="text-center text-capitalize">{% trans 'projects' %}</h3>
        {% include 'project/row_project.html' %}
        <div class="text-center">
            <a href="{% url 'project:project-list' %}" class="btn btn-outline-primary text-capitalize">{% trans 'view-all-projects' %}</a>
        </div>
        <hr>

        {% if news_queryset %}
            <h3 class="text-center text-capitalize">{% trans 'news' %}</h3>
            {% include 'news/row_news.html' %}
            <hr>
        {% endif %}

    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/projectModal.js' %}"></script>
{% endblock extra_js %}
