{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_about_us_03_intro.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_about_us_03_intro.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <br>

        <h3 class="text-center text-capitalize">{% trans 'about-us' %}</h3>

        <div class="row justify-content-center">
            <div class="col-lg-6 text-justify">
                {% trans 'about-us-content-1' %}
            </div>
        </div>

        <br>
        <div class="text-center">
            <img src="{% static 'images/certificate.jpg' %}" class="img-fluid">
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-lg-6 text-justify">
                {% trans 'about-us-content-2' %}
            </div>
        </div>

        <br>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <img src="{% static 'images/map_world.jpg' %}" class="img-fluid">
            </div>
        </div>
        <br>

        <div class="row justify-content-center">
            <div class="col-lg-6 text-justify">
                {% trans 'about-us-content-3' %}
            </div>
        </div>
        <br>

        <div class="row img-factory">
            {% for img in factory_images %}
                {% if forloop.first %}
                    <div class="col-md-12">
                        <img src="{% static img %}" class="img-fluid">
                    </div>
                {% else %}
                    <div class="col-md-6">
                        <img src="{% static img %}" class="img-fluid">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock content %}
