{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&autoLogAppEvents=1&version=v4.0&appId=1202114269848936"></script>

    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="text-center">
                    <img src="{{news.images.first}}" class="img-fluid">
                </div>
                <br>
                <h2>{{news.title}}</h2>
                <div class="news-content">{{news.content|safe}}</div>
                <br>

                <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5" data-href="{{request.get_full_path}}"></div>
            </div>
        </div>
    </div>
{% endblock %}
