{% load static i18n %}

<div class="row justify-content-center row-card news">
    {% for news_query in news_queryset %}
        <div class="col-md-6 col-card">
            <a href="{% url 'news:news-detail' id=news_query.id %}" class="card text-dark" target="_blank">
                <div class="card-body">
                    <div class="card-img h45" style="background-image:url('{{news_query.image.url}}')"></div>
                    <div class="card-text">
                        <h5>{{news_query.title_short|safe}}</h5>
                        <span>{{news_query.content_short|safe}}</span>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
