{% extends 'base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{% block content %}
    <br>
    <div class="container">
        <h3 class="text-center text-capitalize">{% trans 'projects' %}</h3>

        <form action="{% url 'project:project-list' %}" method="GET" class="form-inline text-capitalize">
            <label>{% trans 'filter-by' %} &nbsp;&nbsp;</label>

            {{ form.country|add_label_class:'mr-1'}}
            {{ form.country|add_class:'form-control text-capitalize mr-sm-3 mb-2 mb-sm-0' }}

            {{ form.year|add_label_class:'mr-1'}}
            {{ form.year|add_class:'form-control text-capitalize mr-sm-3 mb-2 mb-sm-0' }}

            <input type="submit" value="{% trans 'select' %}" class="btn btn-outline-primary text-capitalize mt-2 mt-sm-0">
        </form>
        <hr>

        {% include 'project/row_project.html' %}
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/projectModal.js' %}"></script>
    <script src="{% static 'js/projectForm.js' %}"></script>
{% endblock extra_js %}
