{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <h2 class="text-center text-capitalize">{% trans 'aol' %}</h2>
        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                {% trans 'aol-p1' %}
            </div>
        </div>
        <div class="row justify-content-center">
            <img src="{% static 'images/cert ao.jpg' %}" class="img-fluid product-cert">
        </div>
        <br>

        {% include 'product/product_section.html' %}
        <br>

        {% include 'tab.html' %}
        <hr>

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
