{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">



        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center text-capitalize">{% trans 'home-aol-header' %}</h1>

                {% trans 'list-aol-content-1' %}

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert ao.jpg' %}" class="img-fluid product-cert" alt="air outlets (air grille) certificate">
                </div>
            </div>
        </div>
        <hr>

        <h3 class="text-center text-capitalize">{% trans 'product-images' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product aol">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rnd.jpg' %}" alt="round ceiling diffuser">
                        <br>
                        <h6>{% trans 'rnd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rndd.jpg' %}" alt="round ceiling diffuser damper">
                        <br>
                        <h6>{% trans 'rndd' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/scd.jpg' %}" alt="square ceiling diffuser, ordinary face">
                        <br>
                        <h6>{% trans 'scd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/scx.jpg' %}" alt="square ceiling diffuser, extra face">
                        <br>
                        <h6>{% trans 'scx' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rcd.jpg' %}" alt="rectangular ceiling diffuser, ordinary face">
                        <br>
                        <h6>{% trans 'rcd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rcx.jpg' %}" alt="rectangular ceiling diffuser, extra face">
                        <br>
                        <h6>{% trans 'rcx' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/ag1.jpg' %}" alt='air grille 1" blade'>
                        <br>
                        <h6>{% trans 'ag1' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/ag2.jpg' %}" alt='air grille 2" blade'>
                        <br>
                        <h6>{% trans 'ag2' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/eg.jpg' %}" alt="egg crate grille">
                        <br>
                        <h6>{% trans 'eg' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/sar.jpg' %}" alt="supply air register (double deflection)">
                        <br>
                        <h6>{% trans 'sar' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/lsd.jpg' %}" alt="linear slot diffuser">
                        <br>
                        <h6>{% trans 'lsd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/lbg.jpg' %}" alt="linear bar grille">
                        <br>
                        <h6>{% trans 'lbg' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/al1.jpg' %}" alt="air louver 1 bank">
                        <br>
                        <h6>{% trans 'al1' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/al2.jpg' %}" alt="air louver 2 bank">
                        <br>
                        <h6>{% trans 'al2' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/obv.jpg' %}" alt="opposed blade volume damper">
                        <br>
                        <h6>{% trans 'obv' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/is.jpg' %}" alt="insect screen">
                        <br>
                        <h6>{% trans 'is' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/filter.jpg' %}" alt="air filter">
                        <br>
                        <h6>{% trans 'filter' %}</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
