{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">



        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center text-capitalize">{% trans 'aol' %}</h1>
                <p>พีซีเจผลิตและจัดจำหน่ายหน้ากากแอร์ภายใต้แบรนด์ Stream Air โดยตัวสินค้านั้นผลิตจากอลูมิเนียมเส้นหน้าตัด (บางประเภทผลิตจากอลูมิเนียมและสังกะสีแผ่นเรียบ) ความแข็งแรงสูง มีจำหน่ายหลากหลายประเภทซึ่งได้รับการออกแบบมาเพื่อรองรับการใช้งานตามความต้องการเฉพาะทาง อาทิ</p>
                <ul>
                    <li>หน้ากากแอร์แบบกลม</li>
                    <li>หน้ากากแอร์แบบจัตุรัส/แบบสี่เหสี่ยมผืนผ้า</li>
                    <li>หน้ากากแอร์สี่เหสี่ยมลังไข่</li>
                    <li>หน้ากากแอร์แบบใบปรับได้สองชั้น</li>
                    <li>หน้ากากแอร์แบบสล็อต</li>
                    <li>หน้ากากแอร์แบบแนวยาว</li>
                    <li>แอร์ลูเวอร์</li>
                    <li>อุปกรณ์เสริมหน้ากากแอร์ เช่น แดมเปอร์สำหรับหน้ากากแอร์, มุ้งลวดกันแมลง, แอร์ฟิลเตอร์</li>
                </ul>
                <p>หน้ากากหลายประเภทได้รับการทดสอบเสียงและการไหลผ่านของอากาศและได้รับการรับรองโดย N.A.T.A., Australia, AS 1277 & ADC 1062 : GRID-84 แนะนำการใช้งานสินค้าของเรา สำหรับหน้ากากลมเย็นและลมกลับระบบกระจายลมเย็น หน้ากากอากาศภายนอกและอากาศระบายระบบระบายอากาศ</p>

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert ao.jpg' %}" class="img-fluid product-cert">
                </div>
            </div>
        </div>
        <hr>

        <h3 class="text-center text-capitalize">ตัวอย่างรูปสินค้า</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product aol">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rnd.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์แบบกลม</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rndd.jpg' %}">
                        <br>
                        <h6>แดมเปอร์หน้ากากแอร์แบบกลม</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/scd.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมจัตุรัส คอตรง</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/scx.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมจัตุรัส คอบาน</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rcd.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมผืนผ้า คอตรง</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/rcx.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมผืนผ้า คอบาน</h6>
                    </div>
                </div>






                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/ag1.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์แบบสี่เหสี่ยมบานเกล็ด 1"</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/ag2.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์แบบสี่เหสี่ยมบานเกล็ด 2"</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/eg.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมลังไข่</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/sar.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์สี่เหสี่ยมใบปรับได้สองชั้น</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/lsd.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์แบบสล็อต</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/lbg.jpg' %}">
                        <br>
                        <h6>หน้ากากแอร์แบบแนวยาว</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/al1.jpg' %}">
                        <br>
                        <h6>แอร์ลูเวอร์ 4" ใบเอียงด้านเดียว</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/al2.jpg' %}">
                        <br>
                        <h6>แอร์ลูเวอร์ 4" ใบเอียงสองด้าน</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/obv.jpg' %}">
                        <br>
                        <h6>แดมเปอร์หน้ากากแอร์</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/is.jpg' %}">
                        <br>
                        <h6>มุ้งลวดกันแมลง</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/aol/details/filter.jpg' %}">
                        <br>
                        <h6>แอร์ฟิลเตอร์</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
