{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                <h1 class="text-center text-capitalize">{% trans 'ddp' %}</h1>
                <p>ผลิตจากสังกะสีแผ่นเรียบ ความแข็งแรงสูง อายุการใช้งานยาวนาน แดมเปอร์ประเภทต่างๆ ถูกออกแบบมาเพื่อรองรับการใช้งานตามความต้องการเฉพาะทาง แดมเปอร์ของเรามีจำหน่ายหลากหลายประเภท อาทิ</p>
                <ul>
                    <li>แดมเปอร์ทนไฟ 3 ชั่วโมง ตามมาตรฐาน UL 555 (ทดสอบโดยสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง๗</li>
                    <li>ไฟร์สโม้คแดมเปอร์ทนไฟ 3 ชั่วโมง ตามมาตรฐาน UL 555 และ UL 555S ๖ทดสอบโดยสถาบันเทคโนโลยีพระจอมเกล้าเจ้าคุณทหารลาดกระบัง)</li>
                    <li>วอลุ่มแดมเปอร์</li>
                    <li>มอเตอร์ไรซ์แดมเปอร์</li>
                    <li>กราวิตี้แดมเปอร์</li>
                    <li>รีลีฟแดมเปอร์</li>
                </ul>
                <p>เพื่อตอบสนองความต้องการของการใช้งานทุกประเภท ขนาดตามสั่ง แดมเปอร์ของเราสามารถเลือกผลิตตามลักษณะการติดตั้งที่หน้างานได้หลากหลายรูปแบบ อาทิเช่น</p>
                <ul>
                    <li>แบบมีหน้าแปลน</li>
                    <li>แบบใส่เข้าไปในท่อดักท์ (ก้านปรับ/แอคทูเอเตอร์ในผนัง)</li>
                    <li>แบบใส่เข้าไปในท่อดักท์ (ก้านปรับ/แอคทูเอเตอร์นอกผนัง)</li>
                    <li>แบบตีเสียบ</li>
                </ul>
            </div>
        </div>
        <hr>


        <h3 class="text-center text-capitalize">ตัวอย่างรูปสินค้า</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/vd.jpg' %}">
                        <br>
                        <h6>วอลุ่มแดมเปอร์ แบบธรรมดา</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/vl.jpg' %}">
                        <br>
                        <h6>วอลุ่มแดมเปอร์ แบบรั่วน้อย</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>







        <h2 class="text-center text-capitalize">{% trans 'ddp' %}</h2>
        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                {% trans 'ddp-p1' %}
            </div>
        </div>
        <br>

        {% include 'product/product_section.html' %}
        <br>

        {% include 'tab.html' %}
        <hr>

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
