{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">


        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">{% trans 'home-ddp-header' %}</h1>

                {% trans 'list-ddp-content-1' %}

            </div>
        </div>
        <hr>


        <h3 class="text-center text-capitalize">{% trans 'product-images' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/vd.jpg' %}" alt="volume damper, ordinary">
                        <br>
                        <h6>{% trans 'vd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/vl.jpg' %}" alt="volume damper, low leak">
                        <br>
                        <h6>{% trans 'vl' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/md.jpg' %}" alt="motorized damper, ordinary">
                        <br>
                        <h6>{% trans 'md' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/ml.jpg' %}" alt="motorized damper, low leak">
                        <br>
                        <h6>{% trans 'ml' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <img src="{% static 'images/product/ddp/details/fsd.jpg' %}" alt="fire smoke damper">
                        <br>
                        <h6>{% trans 'fsd' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/rvd.jpg' %}" alt="round volume damper, ordinary">
                        <br>
                        <h6>{% trans 'rvd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/rvl.jpg' %}" alt="round volume damper, low leak">
                        <br>
                        <h6>{% trans 'rvl' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/rmd.jpg' %}" alt="round motorized damper, ordinary">
                        <br>
                        <h6>{% trans 'rmd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/rml.jpg' %}" alt="round motorized damper, low leak">
                        <br>
                        <h6>{% trans 'rml' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/ovd.jpg' %}" alt="flat oval volume damper, ordinary">
                        <br>
                        <h6>{% trans 'ovd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/ovl.jpg' %}" alt="flat oval volume damper, low leak">
                        <br>
                        <h6>{% trans 'ovl' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/omd.jpg' %}" alt="flat oval motorized damper, ordinary">
                        <br>
                        <h6>{% trans 'omd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/oml.jpg' %}" alt="flat oval motorized damper, low leak">
                        <br>
                        <h6>{% trans 'oml' %}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/gd.jpg' %}" alt="gravity damper">
                        <br>
                        <h6>{% trans 'gd' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/ddp/details/rd.jpg' %}" alt="relief damper">
                        <br>
                        <h6>{% trans 'rd' %}</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
