{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">{% trans 'home-ds-header' %}</h1>

                {% trans 'list-ds-content-1' %}

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert ds.jpg' %}" class="img-fluid product-cert" alt="duct silencer certificate">
                </div>

                {% trans 'list-ds-content-2' %}

            </div>
        </div>
        <hr>

        <h3 class="text-center text-capitalize">{% trans 'product-images' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="{% static 'images/product/ds/details/ds.jpg' %}" alt="duct silencer">
                        <br>
                        <h6>Duct Silencer</h6>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/product/ds/details/rds.jpg' %}" alt="round duct silencer">
                        <br>
                        <h6>Round Duct Silencer</h6>
                    </div>
                    <div class="col-sm-4">
                        <img src="{% static 'images/product/ds/details/acl.jpg' %}" alt="acoustic louver">
                        <br>
                        <h6>Acoustic Louver</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <br>
        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
        <br>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
