{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center text-capitalize">{% trans 'home-fdc-header' %}</h1>

                {% trans 'list-fdc-content-1' %}

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert fd.jpg' %}" class="img-fluid product-cert" alt="fire damper UL certificate">
                </div>
            </div>
        </div>
        <hr>



        <h3 class="text-center text-capitalize">{% trans 'product-images' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/fdc/details/fdc_in1.jpg' %}" alt="fire damper in airstream">
                        <img src="{% static 'images/product/fdc/details/fdc_in2.jpg' %}" alt="fire damper in airstream">
                        <br>
                        <h6>In Airstream, Single Section Without Damper Sleeve</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/fdc/details/fdc_out1.jpg' %}" alt="fire damper out if airstream">
                        <img src="{% static 'images/product/fdc/details/fdc_out2.jpg' %}" alt="fire damper out of airstream">
                        <br>
                        <h6>Out of Airstream, Single Section Without Damper Sleeve</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/fdc/details/fdc_in_s.jpg' %}" alt="fire damper in airstream with damper sleeve">
                        <br>
                        <h6>In Airstream, Single Section With Damper Sleeve</h6>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/fdc/details/fdc_out_s.jpg' %}" alt="fire damper out of airstream with damper sleeve">
                        <br>
                        <h6>Out of Airstream, Single Section With Damper Sleeve</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/fdc/details/fdc_in_mul1.jpg' %}" alt="fire damper in airstream multiple section">
                        <br>
                        <h6>In Airstream, Multiple Section (2 Single Connected Together)</h6>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/fdc/details/fdc_out_mul1.jpg' %}" alt="fire damper out of airstream multiple section">
                        <br>
                        <h6>Out of Airstream, Multiple Section (2 Single Connected Together)</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/fdc/details/fdc_in_mul2.jpg' %}" alt="fire damper in airstream multiple 4 pieces">
                        <br>
                        <h6>Multiple Section (4 Single Connected Together)</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <h3 class="text-center text-capitalize">{% trans 'vdo-gallery' %}</h3>
        <div class="row">
            <div class="col-md-6 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_fdc.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_fdc_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'fdc-vdo-demonstrate' %}</h5>
            </div>
            <div class="col-md-6 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_fdc_ul_01_'|add:LANG|add:'.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_fdc_ul_01_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'fdc-vdo-ul-01' %}</h5>
            </div>
        </div>
        <hr>

        <br>
        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
        <br>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
