{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">{% trans 'home-frd-header' %}</h1>

                {% trans 'list-frd-content-1' %}

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert fsd.jpg' %}" class="img-fluid product-cert" alt="fire steel door UL certificate">
                </div>

                {% trans 'list-frd-content-2' %}

            </div>
        </div>
        <hr>



        <h3 class="text-center text-capitalize">{% trans 'product-images' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/csd/details/d17.jpg' %}" alt="fire steel door, single door leaf">
                        <img src="{% static 'images/product/csd/details/d03.jpg' %}" alt="fire steel door, single door leaf">
                        <br>
                        <h6>{% trans 'single-door' %}</h6>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/csd/details/d16.jpg' %}" alt="fire steel door, double door leaf">
                        <img src="{% static 'images/product/csd/details/d12.jpg' %}" alt="fire steel door, double door leaf">
                        <br>
                        <h6>{% trans 'double-door' %}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d02.jpg' %}" alt="flush style door">
                        <br>
                        <h6>{% trans 'flush-style' %}</h6>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d06.jpg' %}" alt="flush with vision style door">
                        <br>
                        <h6>{% trans 'vision-style' %}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d07.jpg' %}" alt="embossed-5 style door">
                        <br>
                        <h6>{% trans 'embossed-5' %}</h6>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d09.jpg' %}" alt="embossed-11 style door">
                        <br>
                        <h6>{% trans 'embossed-11' %}</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d11.jpg' %}" alt="powder coated finish">
                        <br>
                        <h6>{% trans 'powder-finish' %}</h6>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/details/d13.jpg' %}" alt="wood grain finish">
                        <br>
                        <h6>{% trans 'wood-grain-finish' %}</h6>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>



        <h3 class="text-center text-capitalize">{% trans 'door-hardware' %}</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 section-hardware">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/closer1.jpg' %}" alt="door closer"></div>
                        {% trans 'door-closer-1' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/closer2.jpg' %}" alt="door closer, heavy duty"></div>
                        {% trans 'door-closer-2' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/esc.jpg' %}" alt="escutcheon lever trim"></div>
                        {% trans 'esc' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/details/hw/lever.jpg' %}" alt="lever trim">
                        {% trans 'lever-trim' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/fire_mortise.jpg' %}" alt="fire mortise lock"></div>
                        {% trans 'm3485' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/mortise.jpg' %}" alt="mortise lock"></div>
                        {% trans 'ml6085' %}
                    </div>

                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/magnet.jpg' %}" alt="magnetic door holder"></div>
                        {% trans 'magnet-door-holder' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/fire_rim.jpg' %}" alt="fire rim exit device"></div>
                        {% trans 'fire-rim' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/fire_v.jpg' %}" alt="fire vertical rod exit device"></div>
                        {% trans 'fire-v-rod' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/mortise_rim.jpg' %}" alt="fire mortise exit device"></div>
                        {% trans 'fire-rim-mortise' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/mortise_v.jpg' %}" alt="fire concealed vertical rod exit device"></div>
                        {% trans 'fire-v-rod-mortise' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/panic_rim.jpg' %}" alt="panic device rim type"></div>
                        {% trans 'panic-rim' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/panic_v.jpg' %}" alt="panic device vertical rod type"></div>
                        {% trans 'panic-v-rod' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/seal.jpg' %}" alt="smoke seal"></div>
                        {% trans 'smoke-seal' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/hinge.jpg' %}" alt="bb hinge"></div>
                        {% trans 'bb-hinge' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/bottom_seal_2.jpg' %}" alt="automatic door bottom seal"></div>
                        {% trans 'bottom-seal' %}
                    </div>
                    <div class="col-6 col-md-4">
                        <div class="frame"><img src="{% static 'images/product/csd/details/hw/door_co.jpg' %}" alt="door coordinator"></div>
                        {% trans 'door-coordinator' %}
                    </div>
                </div>
            </div>
        </div>
        <br>
        <hr>

        {% include 'tab.html' %}

        <h3 class="text-center text-capitalize">{% trans 'vdo-gallery' %}</h3>
        <div class="row">
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vdo-commercial' %}</h5>
            </div>
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd_ul_01_'|add:LANG|add:'.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_ul_01_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vdo-ul-01' %}</h5>
            </div>
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd_vision_ul_01_'|add:LANG|add:'.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_vision_ul_01_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vision-vdo-ul-01' %}</h5>
            </div>
        </div>
        <hr>

        <br>
        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
        <br>

    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}

