{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                <h1 class="text-center text-capitalize">ประตูเหล็กทนไฟ และ ประตูเหล็กธรรมดา</h1>
                <p>ประตูเหล็กทนไฟ (ประตูหนีไฟ) ของพีซีเจ ผลิตจากเหล็กแผ่นเรียบ ด้วยกรรมวิธีพิเศษในการเสริมความแข็งแรง (สำหรับการใช้งานหนัก) ได้รับการทดสอบและรับรองอัตราการทนไฟ 3 ชั่วโมง ตามมาตรฐาน ANSI/UL 10C & CAN/ULC-S104 จากสถาบัน Underwriter Laboratories ประเทศสหรัฐอเมริกา ประตูของเรามีให้เลือกหลากหลายประเภทและสไตล์ อาทิ</p>
                <ul>
                    <li>ประตูบานเดี่ยว ประตูบานคู่</li>
                    <li>ประตูบานเรียบทึบ ประตูบานเรียบแบบมีช่องกระจก ประตูบานลูกฟัก</li>
                    <li>เคลือบสีผง และเคลือบลายไม้</li>
                </ul>
                <p>และเรายังจัดจำหน่ายอุปกรณ์ประตูหลากหลายประเภทตามความต้องการอีกด้วย</p>

                <div class="row justify-content-center">
                    <img src="{% static 'images/cert fsd.jpg' %}" class="img-fluid product-cert">
                </div>

                <p>ประตูของเราเป็นสินค้าสั่งผลิต สามารถเลือกขนาดได้ตามความต้องการ โดยที่ขนาดใหญ่สุดคือ 1200 มม. X 2400 มม. สำหรับประตูบานเดี่ยว และ 2400 มม. X 2400 มม. สำหรับประตูบานคู่ แนะนำการใช้งานไม่เพียงแต่เฉพาะประตูทางหนีไฟ แต่รวมไปถึงประตูห้องที่ต้องการการทนไฟ หรือป้องกันการงัดขโมย</p>

                <p>อีกทั้งเรายังมีผลิตและจัดจำหน่ายประตูเหล็กทนไฟ 2 ชั่วโมงตามมาตรฐาน BS476 และประตูเหล็กธรรมดาเพื่อตอบสนองความต้องการของการใช้งานทุกประเภท</p>
            </div>
        </div>
        <hr>



        <h3 class="text-center text-capitalize">ตัวอย่างรูปสินค้า</h3>
        <div class="row justify-content-center">
            <div class="col-md-10 text-center section-product">
                <div class="row">
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/csd/detail/d01.jpg' %}">
                        <img src="{% static 'images/product/csd/detail/d03.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานเดี่ยว</strong>
                    </div>
                    <div class="col-sm-6">
                        <img src="{% static 'images/product/csd/detail/d10.jpg' %}">
                        <img src="{% static 'images/product/csd/detail/d12.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานคู่</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d02.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานเรียบทึบ</strong>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d06.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานเรียบมีช่องกระจก</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d07.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานลูกฟัก 5 ช่อง</strong>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d09.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูบานลูกฟัก 11 ช่อง</strong>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d11.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูเคลือบอบสีผง</strong>
                    </div>
                    <div class="col-6">
                        <img src="{% static 'images/product/csd/detail/d13.jpg' %}">
                        <br>
                        <strong class="text-red">ประตูเคลือบอบสีลายไม้</strong>
                    </div>
                </div>
            </div>
        </div>
        <br>



        <h3 class="text-center text-capitalize">{% trans 'hardware-you-can-add' %}</h3>
        <br>
        <div class="row justify-content-center">
            <div class="col-md-10 section-hardware">
                <div class="row">
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/closer1.jpg' %}">
                        <h6>Swinging Fire Door Closer</h6>
                        <ul>
                            <li>ติดตั้งบนบานประตู</li>
                            <li>แขนปกติแบบเปิดประตูค้างไม่ได้</li>
                            <li>เปิดได้ 180°</li>
                            <li>รองรับประตูหนัก 60-85 กิโลกรัม</li>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/closer2.jpg' %}">
                        <h6>Swinging Fire Door Closer</h6>
                        <ul>
                            <li>ติดตั้งบนบานประตู</li>
                            <li>แขนปกติแบบเปิดประตูค้างไม่ได้</li>
                            <li>เปิดได้ 180°</li>
                            <li>รองรับประตูหนัก 15-150 กิโลกรัม</li>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                            <li>ANSI เกรด 1</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/esc.jpg' %}">
                        <h6>Escutcheon Lever Trim with Cylinder</h6>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/lever.jpg' %}">
                        <h6>Lever Trim with Cylinder</h6>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/fire_mortise.jpg' %}">
                        <h6>Fire Mortise Lock, Cylinder with Thumbturn</h6>
                        <ul>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/mortise.jpg' %}">
                        <h6>Mortise Lock, Cylinder with Thumbturn</h6>
                    </div>

                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/magnet.jpg' %}">
                        <h6>Electromagnetic Door Holders</h6>
                        <ul>
                            <li>ติดตั้งบนพื้น</li>
                            <li>UL 228</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/fire_rim.jpg' %}">
                        <h6>Fire Exit Device, Rim Type</h6>
                        <ul>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/mortise_rim.jpg' %}">
                        <h6>Fire Rated Mortise Exit Device</h6>
                    </div>
                    <div class="col-6 col-md-4">
                        <div><img src="{% static 'images/product/csd/detail/hw/panic_rim.jpg' %}"></div>
                        <h6>Panic Exit Device, Rim Type</h6>
                        <ul>
                            <li>Panic rating, UL 305</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/fire_v.jpg' %}">
                        <h6>Fire Exit Device, Vertical Rod Type</h6>
                        <ul>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/mortise_v.jpg' %}">
                        <h6>Fire Rated Concealed Vertical Rod Exit Device</h6>
                        <ul>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/panic_v.jpg' %}">
                        <h6>Panic Exit Device, Vertical Rod Type</h6>
                        <ul>
                            <li>Panic rating, UL 305</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/seal.jpg' %}">
                        <h6>Smoke Seal</h6>
                        <ul>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/hinge.jpg' %}">
                        <h6>BB Hinge</h6>
                        <ul>
                            <li>สแตนเลสเกรด 304</li>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/bottom_seal.jpg' %}">
                        <h6>Automatic Door Bottom Seal</h6>
                        <ul>
                            <li>ซีลจะเลื่อนลงมาปิดช่องว่างใต้บานประตูอัตโนมัติเมื่อประตูปิดสนิท และจะยกขึ้นอัตโนมัติเมื่อประตูเปิด</li>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                    <div class="col-6 col-md-4">
                        <img src="{% static 'images/product/csd/detail/hw/door_co.jpg' %}">
                        <h6>Fire Door Coordinator</h6>
                        <ul>
                            <li>ติดตั้งบนวงกบ</li>
                            <li>อัตราการทนไฟ 3 ชั่วโมง UL 10C</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>




        {% include 'tab.html' %}
        <hr>

        <div class="row">
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vdo-commercial' %}</h5>
            </div>
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd_ul_01_'|add:LANG|add:'.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_ul_01_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vdo-ul-01' %}</h5>
            </div>
            <div class="col-md-4 text-red">
                <video controls class="img-fluid" poster="{{MEDIA_URL|add:'videos/pcj_frd_vision_ul_01_'|add:LANG|add:'.jpg'}}">
                    <source src="{{MEDIA_URL|add:'videos/pcj_frd_vision_ul_01_'|add:LANG|add:'.mp4'}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <h5>{% trans 'frd-vision-vdo-ul-01' %}</h5>
            </div>
        </div>
        <hr>

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}

