{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <br>
    <div class="container">

        <h2 class="text-center text-capitalize">{% trans 'fsd-ul' %}</h2>
        <div class="row justify-content-center">
            <div class="col-md-8 text-justify">
                {% trans 'fsd-ul-p1' %}
            </div>
        </div>
        <br>

        {% include 'product/product_section.html' %}
        <br>

        <h3 class="text-center text-capitalize">{% trans 'option-you-can-choose' %}</h3>
        <div class="option-table">
            <div class="row justify-content-center">
                <div class="col-sm-2 col-3">{% trans 'size' %}</div>
                <div class="col-sm-9 col-9">{% trans 'available-upon-request-fsd-ul' %}</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-2 col-3">{% trans 'fire-rating' %}</div>
                <div class="col-sm-9 col-9">{% trans '3-hour' %}</div>
            </div>
        </div>
        <br>

        {% include 'tab.html' %}
        <hr>

        <div class="text-center">
            <a href="mailto:{{EMAIL_SALES}}" class="btn btn-outline-primary text-capitalize">{% trans 'get-a-quote' %}</a>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/thumbnail.js' %}"></script>
{% endblock extra_js %}
