{% load static sass_tags alter_lang_uri i18n %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

        <!-- Facebook Pixel Code -->
        <script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '654358738637184');
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=654358738637184&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84010436-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-84010436-1');
        </script>

        <!-- Global site tag (gtag.js) - Google Ads: 672174391 -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-672174391"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'AW-672174391');
        </script>

        <!-- Event snippet for con conversion page -->
        <script>
          gtag('event', 'conversion', {'send_to': 'AW-672174391/1RZECLO94sMBELeiwsAC'});
        </script>

        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap-grid.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap-reboot.css' %}">
        <link rel="stylesheet" href="{% static 'scss/fonts.css' %}">
        <link rel="stylesheet" href="{% sass_src 'scss/base2.scss' %}">
        <link rel="stylesheet" href="{% sass_src 'scss/yamm.scss' %}">

        <meta name="google-site-verification" content="K57hywJun3eBmrh-bGSSVHgBKAzE8VnzN2srLagNkJo" />

        <title>{{meta_title}}</title>
        <meta name="author"             content="{% trans 'pcj-industries-full' %}">
        <meta name="description"        content="{{meta_desc}}" />
        <meta name="keywords"           content="{{meta_kw}}" />
        <meta name="robots"             content="{{meta_robots}}" />
        <meta name="googlebot"          content="{{meta_robots}}" />

        <meta property="og:url"         content="{{request.build_absolute_uri}}" />
        <meta property="og:type"        content="website" />
        <meta property="og:title"       content="{{meta_title}}" />
        <meta property="og:description" content="{{meta_desc}}" />
        <meta property="og:image"       content="{{meta_img}}" />

        <link rel="alternate" href="{% alter_lang_uri request 'en' %}" hreflang="en" />
        <link rel="alternate" href="{% alter_lang_uri request 'th' %}" hreflang="th" />
    </head>
    <body>
        {% block sdk %}
        {% endblock sdk %}

        {% include 'navbar.html' %}

        {% block content %}
        {% endblock content %}

        {% include 'footer.html' %}

        <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.3.1/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'js/toggleDropdown.js' %}"></script>

        {% block extra_js %}
        {% endblock extra_js %}
    </body>
</html>
