{% load static i18n %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center text-md-left">
                <div>
                    <div class="avoid-wrap">
                        <i class="fas fa-phone-alt"></i>
                        {% if LANG == 'en' %}
                            <a href="tel:{{PHONE1_en}}">{{PHONE1_en}}</a>,&nbsp;
                            <a href="tel:{{PHONE2_en}}">{{PHONE2_en}}</a>
                        {% else %}
                            <a href="tel:{{PHONE1_th}}">{{PHONE1_th}}</a>,&nbsp;
                            <a href="tel:{{PHONE2_th}}">{{PHONE2_th}}</a>
                        {% endif %}
                        &nbsp;
                    </div>
                    <div class="avoid-wrap">
                        <i class="fas fa-envelope"></i>&nbsp;
                        <a href="mailto:{{EMAIL_SALES}}">{{EMAIL_SALES}}</a>
                    </div>
                </div>
                <div style="padding-top: 0.5em;">Copyright © 2002-{% now "Y" %} All Rights Reserved.</div>
                <div>PCJ INDUSTRIES CO., LTD.</div>
            </div>
            <div class="col-md-4 text-capitalize text-right text-center text-md-right">
                <span class="follow-us">{% trans 'follow-us' %}</span>
                <a href="{{FACEBOOK}}" class="sub-button" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="{{YOUTUBE}}" class="sub-button" target="_blank"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
