{% load static i18n %}

<nav class="yamm navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'page:page-home' %}">
            <img src="{% static 'assets/images/pcj-logo-full-'|add:LANG|add:'.jpg' %}" class="d-none d-lg-block">
            <img src="{% static 'assets/images/pcj-logo.jpg' %}" class="d-lg-none">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                {% for navbar_item in navbar_items %}
                    {% if navbar_item.0 == 'products' %}
                        <li class="nav-item dropdown yamm-fw">
                            <a class="nav-link text-dark text-uppercase dropdown-toggle" href="{{navbar_item.1}}" data-toggle="dropdown">
                                {% trans navbar_item.0 %}
                            </a>
                            <div class="dropdown-menu collapse" id="collapseDropdown">
                                {% include 'row_product.html' %}
                            </div>
                        </li>
                    {% elif navbar_item.0 in 'en,th' %}
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" href="{{navbar_item.1}}" style="margin: -2px;">
                                <img src="{% static navbar_item.2 %}">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" href="{{navbar_item.1}}">{% trans navbar_item.0 %}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
