{% load static i18n %}

<nav class="yamm navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'page:page-home' %}">
            <img src="{% static 'assets/images/pcj-logo-full-'|add:LANG|add:'.jpg' %}" class="navbar-brand-img d-none d-lg-block">
            <img src="{% static 'assets/images/pcj-logo.jpg' %}" class="navbar-brand-img d-lg-none">
        </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
        </button>
        <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav">
                {% for navbar_item in navbar_items %}
                    {% if navbar_item.0 == 'products' %}
                        <li class="nav-item dropdown yamm-fw">
                            <a class="nav-link text-dark text-uppercase dropdown-toggle" href="{{navbar_item.1}}" data-toggle="dropdown">
                                {% trans navbar_item.0 %}
                            </a>
                            <div class="dropdown-menu collapse" id="collapseDropdown">
                                <div class="row">
                                    {% for dropdown_item in navbar_dropdown_items %}
                                        <!-- <div class="col-md-2 col-sm-4 col-xs-6">
                                            <a class="dropdown-img" href="{{dropdown_item.1}}">
                                                <div class="dropdown-img-frame">
                                                    <img src="{% static dropdown_item.2 %}">
                                                </div>
                                                <div class="dropdown-img-label">{% trans dropdown_item.0|safe %}</div>
                                            </a>
                                        </div> -->
                                        <div class="col-md-2 col-sm-4 col-xs-6 col-card">
                                            <a class="card card-nav" href="{{dropdown_item.1}}">
                                                <div class="card-img sq" style="background-image:url('{% static dropdown_item.2 %}')"></div>
                                                <div class="card-text">{% trans dropdown_item.0|safe %}</div>
                                            </a>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </li>
                    {% elif navbar_item.0 in 'en,th' %}
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" href="{{navbar_item.1}}" style="margin: -2px;">
                                <img src="{% static navbar_item.2 %}">
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-dark text-uppercase" href="{{navbar_item.1}}">{% trans navbar_item.0 %}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
